.jumbotron{
  background-image: url(index.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}

.jumbotron img {
  height: 250px;
  border-style:groove;
}

.row {
  height: inherit;
}

.col-fluid {
  margin-left: auto;
  margin-right: auto;
}

.col-3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  height: inherit;
  text-align:center;
  width:100%;
}


.container-fluid img {
  height:300px;
  align-items: center;
}


.image {
  @media max-width: 500px;
}

.textbody {
  text-align:left;
  font-size: auto;
  margin-left: auto;
  font-family: 'Quicksand', sans-serif;

}

.captionhead {
  text-align:center;
  color: navy blue;
}

.captionbody {
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}

#MMM {
  font-family: 'Quicksand', sans-serif;
  width:450px;
  font-size:1.2vmax;
}


html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

h1 {
  font-size:4.5vw;
}

  a.button{
   display:inline-block;
   padding:0.3em 1.2em;
   margin:0 0.3em 0.3em 0;
   border-radius:2em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   background-color:#4eb5f1;
   text-align:center;
   transition: all 0.2s;
  }
  a.button:hover{
   background-color:#4095c6;
  }
  @media all and (max-width:30em){
   a.button{
    display:block;
    margin:0.2em auto;
   }
  }

  .button {
    font-size: 1.5vmax;
  }
